@(bookForm: Form[controllers.Application.BookForm], create: Boolean)
@import helper._

@form(controllers.routes.Application.runUpsertBook()){
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">@if(create){Create}else{Edit} book</h4>
    </div>

    <div class="modal-body">

        <div class="form-group">
            <input type="hidden" name="id" value='@bookForm("id").value' >
            @inputText(
                bookForm("title"),
                'placeholder -> "e.g. The Hitchhicker's Guide to the Galaxy",
                '_label -> "Title",
                'class -> "form-control",
                'maxlength -> 150,
                'required -> true,
                '_showConstraints -> false
            )
            @inputText(
                bookForm("author"),
                'placeholder -> "e.g. Douglas Adams",
                '_label -> "Author name",
                'class -> "form-control",
                'maxlength -> 150,
                'required -> true,
                'value -> bookForm("author"),
                '_showConstraints -> false
            )
            @inputText(
                bookForm("pages"),
                '_label -> "Number of pages",
                'class -> "form-control",
                'type -> "number",
                'min -> 1,
                'max -> 9999,
                'required -> true,
                '_showConstraints -> false
            )
            @textarea(
                bookForm("description"),
                'placeholder -> "Write the book description here...",
                '_label -> "Description",
                'maxlength -> 500,
                'class -> "form-control",
                '_showConstraints -> false
            )
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}