
<script>
$(document).ready(function(){
    $('#mainTable').DataTable({
        "ajax": {
            "url": "@routes.Application.listBooks",
            "dataSrc": "",
        },
        "columns": [
            {"data": "id"},
            {"data": "title"},
            {"data": "author"},
            {"data": "pages"}
        ]
    });
});
</script>
<div>
    <a data-toggle="modal" href="#bookModal" class="btn btn-primary btn-lg">New book</a>
</div>

@bookModal(true)
<table id="mainTable" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Pages</th>
        </tr>
    </thead>

</table>
