
<!-- Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalContent">

            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="modalTitle"></h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="fileupload">Book cover</label>
                        <form action="UploadImages" class="dropzone" id="fileupload" enctype="multipart/form-data">

                        </form>
                    </div>

                    <div id="modalFields">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" form="bookForm" class="btn btn-primary">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <a id="addBookBtn" class="btn btn-primary btn-lg pull-right">Add new</a>
    </div>

    <table id="mainTable" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Actions</th>
            </tr>
        </thead>

    </table>
</div>
<script src="@routes.Assets.at("javascripts/scripts.js")" type="text/javascript"></script>
