@(bookForm: Form[controllers.Application.BookForm])
@import helper._

@form(controllers.routes.Application.runUpsertBook(), 'id -> "bookForm"){

    <div class="col-sm-8">
        <input type="hidden" name="id" value='@bookForm("id").value' >
        <input type="hidden" id="coverId" name="coverId" value='@bookForm("coverId").value' required="true">
        @inputText(
            bookForm("title"),
            'placeholder -> "e.g. The Hitchhicker's Guide to the Galaxy",
            '_label -> "Title",
            'class -> "form-control typeahead",
            'autocomplete -> "off",
            'maxlength -> 150,
            'required -> true,
            '_showConstraints -> false
        )
        @inputText(
            bookForm("author"),
            'placeholder -> "e.g. Douglas Adams",
            '_label -> "Author name",
            'class -> "form-control",
            'maxlength -> 150,
            'required -> true,
            'value -> bookForm("author"),
            '_showConstraints -> false
        )
        @inputText(
            bookForm("pages"),
            '_label -> "Number of pages",
            'class -> "form-control",
            'type -> "number",
            'min -> 1,
            'max -> 9999,
            'required -> true,
            '_showConstraints -> false
        )
        @textarea(
            bookForm("description"),
            'placeholder -> "Write the book description here...",
            '_label -> "Description",
            'maxlength -> 500,
            'class -> "form-control",
            '_showConstraints -> false
        )
    </div>
}

